<!DOCTYPE html>
<html lang="en" class="roshalonline no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roshalonline = провайдер, который всегда с тобой</title>
    <meta name="author" content="Kineev Alexey" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/Internet/About/main.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Internet/About/common-style.css" />
    <script src="~/Scripts/snapsvg.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @*<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7243260-2']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
            </script>*@


</head>
<body>
    <div class="container">
        <!-- Top Navigation -->
        <div class="codrops-top">
            <a class="top-center" href="#"><span>+7(496)455-81-05 ООО "Альтес-Р" г. Рошаль, ул. Косякова, д. 13</span></a>
        </div>
        <header class="codrops-header">
            <img src="~/Assets/Logos/Common/logo_96.png" /><h1>ROSHAL ONLINE<span>Первый городской оператор связи</span></h1>
            <nav class="codrops-demos">
                <a class="current-demo" href="№">Описание услуги</a>
                <a href="@Url.Action("Index", "Internet")">В раздел Интернет</a>
                <a href="@Url.Action("Index", "News")">Обратная связь</a>
                <a href="@Url.Action("Index", "News")">Личный кабинет</a>
            </nav>
        </header>
        <section id="grid" class="grid clearfix">               
            <div data-path-hover="m 180,320 -180,0 L 0,0 180,0 z">
                <figure>
                    <img class="background-img" src="~/Assets/Logos/Internet/About/internet_500x437_about.png" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                    <figcaption>
                        <h2>что такое интернет</h2>
                        <p class="description">Технически это компьютерная сеть глобального масштаба, организваонная для обмена данными между удаленными компьютерами. Однако...</p>
                        <section class="custom-content" id="first">
                            <img src="~/Assets/Logos/Internet/About/internet_about_logo1.png" />
                            <p class="text-content">Однако фактически Интернет это нечто большее чем просто сеть, это скорее удивительное социальное явление, буквально за 15 лет активного развития произведшее скорушительную революцию во всех сферах человеческой жизни. Интернет настолько плотно вошел в повседневный обиход жителей нашей планеты, что сейчас крайне тяжело себе представить утро без новостной ленты, день без смешных видео с котиками и вечеров без социальных интернет-сервисов.</p>                            
                        </section>
                    </figcaption>
                </figure>                
            </div>
            <div data-path-hover="m 180,320 -180,0 L 0,0 180,0 z">
                <figure>
                    <img class="background-img" src="~/Assets/Logos/Internet/About/internet_500x437_service.png" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                    <figcaption>
                        <h2>что такое услуга доступа к сети интернет</h2>
                        <p class="description">Это Ваш выход во всемирную сеть Интернет, с использованием сети передачи данных нашей Компании.</p>
                        <section class="custom-content" id="second">
                            <img src="~/Assets/Logos/Internet/About/internet_about_logo2.png" />
                            <p class="text-content">Просматривайте и загружайте любую информацию, используйте максимальный спектр медиа-возможностей, общайтесь в социальных сетях и будьте в курсе последних мировых событий и трендов.</p>
                        </section>
                    </figcaption>
                </figure>                
            </div>
            <div data-path-hover="m 180,320 -180,0 L 0,0 180,0 z">
                <figure>
                    <img class="background-img" src="~/Assets/Logos/Internet/About/internet_500x437_customer.png" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                    <figcaption>
                        <h2>как я могу подключить данную услугу</h2>
                        <p class="description">Нет ничего проще. Воспользуйтесь одной из рекомендаций в данном разделе или свяжитесь с нами любым доступным вам способом</p>
                        <section class="ref-content" id="third">
                            <p>Отправьте электронное заявление на подключение услуги</p>
                            <button>Хочу подключиться</button>
                            <p>Свяжитесь с нами по телефону</p>
                            <h3>8-(496)-455-81-05</h3>
                            <p>Подключитесь в офисе компании</p>
                            <button>Как нас найти</button>
                        </section>
                    </figcaption>
                </figure>
            </div>
            <div data-path-hover="m 180,320 -180,0 L 0,0 180,0 z">
                <figure>
                    <img class="background-img" src="~/Assets/Logos/Internet/About/internet_500x437_extra.png" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                    <figcaption>
                        <h2>дополнительная информация</h2>
                        <p class="description">Дополнительные сведения об услуге доступа в Интернет мы разместили в данном разделе</p>
                        <section class="ref-content" id="fourth">
                            <p>Все о дополнительных услугах, связанных с доступом в Интернет можно узнать в соответсвующих разделах</p>
                            <button>Дополнительные услуги</button>
                            <p>Интеренсые публикации, тем или иным образом имеющие отношение к Интернету</p>
                            <button>Публикации</button>
                        </section>
                   </figcaption>
                </figure>                
            </div>
        </section>
        <section class="footer">
            <p>Присоединяйся к нам в популярных социальных сервисах</p>
            <div><a href="#"><img src="~/Assets/Logos/Common/vk_flat_64.png" /></a><a href="#"><img src="~/Assets/Logos/Common/ok_flat_64.png" /></a><a href="#"><img src="~/Assets/Logos/Common/fb_flat_64.png" /></a></div>
            <div><a href="#"><h6>Powered by Kineev Alexey</h6></a></div>
        </section>
    </div><!-- /container -->
</body>
</html>
<script>
			(function() {

				function init() {
					var speed = 250,
						easing = mina.easeinout;

					[].slice.call ( document.querySelectorAll( '#grid > div' ) ).forEach( function( el ) {
						var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
							pathConfig = {
								from : path.attr( 'd' ),
								to : el.getAttribute( 'data-path-hover' )
							};

						el.addEventListener( 'mouseenter', function() {
							path.animate( { 'path' : pathConfig.to }, speed, easing );
						} );

						el.addEventListener( 'mouseleave', function() {
							path.animate( { 'path' : pathConfig.from }, speed, easing );
						} );
					} );
				}

				init();

			})();
</script>


